* {
    box-sizing: border-box;
}

.header {
    padding: 50px 50px 30px 50px;
    background: #1abc9c;
    color: white;
}

h1 {
    margin-bottom: 40px;
    font-size: 60px;
}

.sub-heading {
    display: block;
    margin: auto;
    font-size: 30px;
    max-width: 550px;
}

.custom.btn-lg {
    font-size: 20px;
    padding: 2rem 4rem;
    font-weight: 700;
}